{% extends "base.html" %}
{% load staticfiles %}
{% block username %}{{ request.user }}{% endblock %}
{% block title %}Member assessment{% endblock %}
{% block content %}

<div class="container">
    <div class="section"> 
        
        <!--   Icon Section   -->
        <div class="row">
            <div class="col l2 s12"></div>
            <div class="col l8 s12">
                <div class="row">
                    <div class="card cardpadding z-depth-1">
                        <div class="card-content">
                            <h3 class="truncate changefont">Evaluate your leader:</h3>
                            <p class="truncate" style="color:grey; margin-top:-10px; font-size: 16px;"> <span class="head_text"> Main page <b>&gt;</b> Software Development Workshop III <b>&gt;</b> <span style="color: darkmagenta">team forming</span> </span> </p>
                            <div class="row" style="margin-bottom: 0px;">
                                <div class="card-content"> <br>
                                    <div class="row">
                                        <div class="col s2 m2"></div>
                                        <div class="col s8 m8">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="row" style="margin-bottom: 0px;">
                                                        <div class="col s2 m2"></div>
                                                        <div class="col s8 m8"> <img src="img/head1.jpg" alt="" class="circle responsive-img">
                                                            <div class="center-align"> <span class="card-title">Dragon King</span> </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="padding: 20px 10px;">
                                                        <form action="#">
                                                            <p class="range-field">
                                                                <input type="range" id="test5" min="-2" max="2" step="1"/>
                                                            </p>
                                                        </form>
                                                        <div style="font-size: 16px; font-weight: 300;">
                                                            <div style="width:98.5%; margin-left: -13px;">
                                                                <div class="col s3">
                                                                    <p>-2</p>
                                                                </div>
                                                                <div class="col s3">
                                                                    <p>-1</p>
                                                                </div>
                                                                <div class="col s3">
                                                                    <p>0</p>
                                                                </div>
                                                                <div class="col s3">
                                                                    <p>1</p>
                                                                </div>
                                                            </div>
                                                            <div style="z-index: 1; float:right; margin-right: 2px;">
                                                                <p>2</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="center-align"> <span style="font-size: 15">Your assessment: Very Good</span> </div>
                                                    <!--                                                        <a class="waves-effect waves-light btn green modal-trigger" style="margin-left: 15px; margin-top: 5px;" href="#modal1"><i class="material-icons left">send</i>Invite</a>--> 
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <a href="#" class="btn red waves-effect waves-light"><i class="material-icons left">fast_rewind</i>back</a>
                                    <button class="btn waves-effect waves-light" type="submit" name="action" style="float: right;">submit <i class="material-icons right">send</i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}
