{% extends "base.html" %}
{% load staticfiles %}
{% block username %}{{ request.user }}{% endblock %}
{% block title %}Modify submission items{% endblock %}
{% block content %}
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container"><br>
                <br>
                <h1 class="header center white-text text-lighten-2 text-shadow changefont">{{ course.name }}</h1>
                <div class="row center">
                    <h5 class="header col s12 light">·&nbsp;Course duration: {{ course.begin_time | date:'Y/m/d' }}
                        - {{ course.end_time | date:'Y/m/d' }}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;Professor: {% for teacher in teachers %}{{ teacher.truename }} {% endfor %}</h5>
                </div>
                <br>
                <br>
            </div>
        </div>
        <div class="parallax"><img src="{% static 'img/background2.jpg' %}" alt="Unsplashed background img 1"></div>
    </div>
    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                
                <form method="POST" action="/course/{{ course.id }}/modify_submission">
                    <div class="col l4 s12">
                        <div class="card cardpadding z-depth-1" style="padding:7px 15px 7px 15px;">
                            <div class="card-content">
                                <div class="row" style="margin-bottom: 0px;">
                                    <h5>Course Information:</h5>
                                    <p class="course_txt">Participants: {{ memNum }}</p>
                                    <p class="course_txt">Group forming method: {{ course.form_method }}</p>
                                    <p class="course_txt">Team numbers: {{ teamNum }}</p>
                                    <br>
                                    <hr>
                                    <p class="course_txt">operations:</p>
                                    <br>
                                    <div class="row">
                                        <div class="col l12 s12"><a
                                                class="waves-effect waves-light btn changefont blue darken-4"
                                                style="width:100%;" href="/course/{{ course.id }}/add_submission"><i
                                                class="material-icons left">open_in_new</i> Add submission</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col l12 s12"><button name="confirm" type="submit"
                                                class="waves-effect waves-light btn changefont teal lighten-2"
                                                style="width:100%;"><i class="material-icons left">thumb_up</i> Confirm</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col l12 s12"><a name="confirm" href="/course/{{ course.id }}"
                                                class="waves-effect waves-light btn changefont red darken-1"
                                                style="width:100%;"><i class="material-icons left">close</i> Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l8 s12">
                        <div class="card cardpadding z-depth-1">
                            <div class="card-content">
                                <h5 class="card-title" style="font-weight: 400">Submission modifying...</h5>
                                <h6 class="card-subtitle ">If finish, please press "confirm" to check percentage</h6>

                                {% if submissionItem %}
                                    <table class="highlight">
                                        <tr class="home_table">
                                            <th>Title</th>
                                            <th>Percentage</th>
                                            <th>Delete?</th>
                                        </tr>
                                        {% csrf_token %}
                                        {% for item in submissionItem %}
                                            <tr class="home_table" id="{{ item.id }}">
                                                <div>
                                                    <input name="modifyId" value="{{ item.id }}" type="number" style="display: none;">
                                                    <td><input value="{{ item.title }}" name="title" type="text" class="validate">
                                                    </td>
                                                    <!--                                        <td>2020/3/15 23:55</td>-->
                                                    <td><input type="number" value="{{ item.percentage }}" name="percentage" type="text"
                                                            class="validate"></td>
                                                    <td>
                                                        <form method="POST" action="/course/{{ course.id }}/modify_submission">
                                                            {% csrf_token %}
                                                            <input name="deleteItemId" value="{{ item.id }}" style="display: none;">
                                                            <button type="submit" class="btn-floating btn-small waves-effect waves-light purple"><i
                                                                class="material-icons">close</i>
                                                            </button>
                                                        </form>
                                                    </td>
                                                </div>
                                            </tr>
                                        {% endfor %}
                                        {% if newSubmission %}
                                        {% for item in newSubmission %}
                                            <tr class="home_table">
                                                <div>
                                                    <input name="modifyNewIndex" value="{{ item.index }}" type="number" style="display: none;">
                                                    <td><input value="{{ item.title }}" name="title" type="text" class="validate">
                                                    </td>
                                                    <!--                                        <td>2020/3/15 23:55</td>-->
                                                    <td><input type="number" value="{{ item.percentage }}" name="percentage" type="text"
                                                            class="validate"></td>
                                                    <td>
                                                        <form method="POST" action="/course/{{ course.id }}/modify_submission">
                                                            {% csrf_token %}
                                                            <input name="deleteNewIndex" value="{{ item.index }}" style="display: none;">
                                                            <button type="submit" class="btn-floating btn-small waves-effect waves-light purple"><i
                                                                class="material-icons">close</i>
                                                            </button>
                                                        </form>
                                                    </td>
                                                </div>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </table>
                                {% elif newSubmission %}
                                <table class="highlight">
                                    <tr class="home_table">
                                        <th>Title</th>
                                        <th>Percentage</th>
                                        <th>Delete?</th>
                                    </tr>
                                {% for item in newSubmission %}
                                    <tr class="home_table">
                                        <div>
                                            <input name="modifyNewIndex" value="{{ item.index }}" type="number" style="display: none;">
                                            <td><input value="{{ item.title }}" name="title" type="text" class="validate">
                                            </td>
                                            <!--                                        <td>2020/3/15 23:55</td>-->
                                            <td><input type="number" value="{{ item.percentage }}" name="percentage" type="text"
                                                    class="validate"></td>
                                            <td>
                                                <form method="POST" action="/course/{{ course.id }}/modify_submission">
                                                    {% csrf_token %}
                                                    <input name="deleteNewIndex" value="{{ item.index }}" style="display: none;">
                                                    <button type="submit" class="btn-floating btn-small waves-effect waves-light purple"><i
                                                        class="material-icons">close</i>
                                                    </button>
                                                </form>
                                            </td>
                                        </div>
                                    </tr>
                                {% endfor %}
                                </table>
                                {% else %}
                                    <h2>Currently there is no submission item.</h2>
                                {% endif %}
                                <br>
                                <div id="chart" class="valign-wrapper" style="width:100%; height: 400px;"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <br>
        <div class="section"></div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
            $(document).ready(function () {
                $('.parallax').parallax();
            });

            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('chart'));

            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '',
                    subtext: '',
                    x: 'center'
                },

                // Add legend
                /*
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        data: [
{% for item in submissionItem %}
                            '{{ item.title }}',
                        {% endfor %}
                    ]
                },
            */
                // Add custom colors
                color: ['#ffbc34', '#4fc3f7', '#5e35b1', '#f62d51'],

                // Enable drag recalculate
                calculable: true,

                // Add series
                series: [
                    {
                        name: '',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        center: ['50%', '57.5%'],
                        itemStyle: {
                            normal: {
                                label: {
                                    show: true
                                },
                                labelLine: {
                                    show: true
                                }
                            },
                            emphasis: {
                                label: {
                                    show: true,
                                    formatter: '{b}' + ' ({d}%)',
                                    position: 'center',
                                    textStyle: {
                                        fontSize: '17',
                                        fontWeight: '500'
                                    }
                                }
                            }
                        },
                        {% if submissionItem %}
                        data: [
                            // 要改！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
                            {% for item in submissionItem %}
                                {value: {{item.percentage}}, name: '{{ item.title }}'},
                            {% endfor %}
                        ]
                        {% endif %}
                    }
                ]
//    tooltip: {
//        trigger: 'item',
//        formatter: '{b}:({d}%)'
//    },
//    legend: {
//        orient: 'vertical',
//        left: 10,
//        data: ['presentation', 'document SRS', 'document SDS', 'group minutes']
//    },
//    series: [
//        {
//            type: 'pie',
//            radius: ['50%', '70%'],
//            avoidLabelOverlap: false,
//            label: {
//                normal: {
//                    show: false,
//                    position: 'center'
//                },
//                emphasis: {
//                    show: true,
//                    textStyle: {
//                        fontSize: '15'
//                    }
//                }
//            },
//            labelLine: {
//                normal: {
//                    show: false
//                }
//            },
//            data: [
//                {value: 20, name: 'presentation'},
//                {value: 30, name: 'document SRS'},
//                {value: 40, name: 'document SDS'},
//                {value: 10, name: 'group minutes'},
//            ]
//        }
//    ]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);


        var toast_msg = "{{ msg }}";
        if(!(toast_msg == 'no_msg')){
            var $toastContent = $('<span>' + toast_msg +'</span>');
            Materialize.toast($toastContent, 4000);
        }
    </script>
{% endblock %}