{% extends "base.html" %}
{% load staticfiles %}
{% block username %}{{ request.user }}{% endblock %}
{% block title %}Submission assessment{% endblock %}
{% block content %}

    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col l12 s12">
                    <div class="card cardpadding z-depth-1">
                        <div class="card-content">
                            <h3 class="truncate changefont">Submission {{ submission.title }} Assessment </h3>

                            <p class="truncate" style="color:grey; margin-top:-10px; font-size: 16px;"><span
                                    class="head_text"> <a href="/student_home"
                                                          style="color: grey"> Main page </a><b>&gt;</b> <a
                                    href="/course/{{ course.id }}"
                                    style="color: grey"> {{ course.name }} </a> <b>&gt;</b> <a
                                    href="/course/{{ course.id }}/team/{{ team.id }}/leader_assessment"
                                    style="color: grey"> Leader assessment </a> <b>&gt;</b> <span
                                    style="color: dodgerblue"> Submission {{ submission.title }} assessment</span> </span></p>
                            <hr>
                            <br>
                            <div class="row">
                                <form method="post"
                                      href="course/{{ course.id }}/team/{{ team.id }}/member_assessment/{{ submission.id }}">
                                    {% csrf_token %}
                                    {% for one in team.member.all %}
                                        <div class="col l4 s12">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="row" style="margin-bottom: 0px; margin-top: 20px;">
                                                        <div class="col s2 m2"></div>
                                                        <div class="col s8 m8"><img src="{% static 'img/'|addstr:one.id|addstr:".jpg" %}"
                                                                                    alt=""
                                                                                    class="z-depth-3 responsive-img">
                                                            <div class="center-align"><span
                                                                    class="card-title">{{ one.truename }}</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="row"
                                                         style="padding: 20px 10px; margin-bottom: -20px; margin-top:-10px;">
                                                        <div class="col s4 m4"></div>
                                                        <div class="col s8 m8">

                                                            <div class="row" style="margin-bottom: 15px;">
                                                                <input name="member_mark{{ forloop.counter }}"
                                                                       type="radio" id="a_{{ forloop.counter }}"
                                                                       value="1.0"/>
                                                                <label for="a_{{ forloop.counter }}">Full (1.0)</label>
                                                            </div>
                                                            <div class="row" style="margin-bottom: 15px;">
                                                                <input name="member_mark{{ forloop.counter }}"
                                                                       type="radio" id="b_{{ forloop.counter }}"
                                                                       value="0.67"/>
                                                                <label for="b_{{ forloop.counter }}">Fair (0.67)</label>
                                                            </div>
                                                            <div class="row" style="margin-bottom: 15px;">
                                                                <input name="member_mark{{ forloop.counter }}"
                                                                       type="radio" id="c_{{ forloop.counter }}"
                                                                       value="0.33"/>
                                                                <label for="c_{{ forloop.counter }}">Little
                                                                    (0.33)</label>
                                                            </div>
                                                            <div class="row" style="margin-bottom: 15px;">
                                                                <input name="member_mark{{ forloop.counter }}"
                                                                       type="radio" id="d_{{ forloop.counter }}"
                                                                       value="0"/>
                                                                <label for="d_{{ forloop.counter }}">None (0)</label>
                                                            </div>
                                                            <input name="member_id{{ forloop.counter }}" type="text"
                                                                   value="{{ one.id }}" style="display: none;"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                            </div>
                            <div class="row" style="margin: 20px 20px;">
                                <button class="btn waves-effect waves-light red darken-3" type="btn"
                                        name="action" style="float: left;" href="/course/{{ course.id }}">cancel <i
                                        class="material-icons left">close</i></button>
                                <button class="btn waves-effect waves-light" type="submit" name="action"
                                        style="float: right;">submit <i class="material-icons right">send</i>
                                </button>
                            </div>
                            </form>

                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="section"></div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        var toast_msg = "{{ submission_assessment_msg }}";
        if (!(toast_msg == 'no_msg')) {
            var $toastContent = $('<span>' + toast_msg + '</span>');
            Materialize.toast($toastContent, 4000);
        }
    </script>
{% endblock %}