{% extends "base.html" %}
{% load staticfiles %}
{% block username %}{{ request.user }}{% endblock %}
{% block title %}Forming method{% endblock %}
{% load addstr %}
{% block content %}
    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col l12 s12">
                    <div class="row">
                        <div class="card cardpadding z-depth-1">
                            <div class="card-content">
                                <h3 class="truncate changefont">Confirm team forming</h3>
                                <p class="truncate" style="color:grey; margin-top:-10px; font-size: 16px;"><span
                                        class="head_text"> <a href="/{{ request.user.field }}_home"
                                                              style="color: grey"> Main page </a><b>&gt;</b> <a
                                        href="/course/{{ course.id }}"
                                        style="color: grey"> {{ course.name }} </a> <b>&gt;</b> <span
                                        style="color: dodgerblue">Confirm team forming</span> </span></p>

                                <hr>
                                <h4 class="truncate changefont">Group List</h4>
                                <div class="row">
                                    {% for item in teams %}
                                        <div class="col l3 s12">
                                            <div class="row">
                                                <div class="card cardpadding z-depth-1">
                                                    <div class="card-content">
                                                        <p class="center-align"
                                                           style="font-size: 26px; font-weight: 300;">
                                                            {{ item.name }}</p>
                                                        <hr>
                                                        <div class="row" style="margin-bottom: 0px;">
                                                        {% for one in item.member.all %}

                                                                <div class="col s6 l12">
                                                                    <div class="lighten-5 z-depth-1"
                                                                         style="padding: 12px; margin: 5px 0px;">
                                                                        <div class="valign-wrapper">
                                                                            <div class="col s4"><img
                                                                                    src="{% static 'img/'|addstr:one.id|addstr:".jpg" %}"
                                                                                    alt=""
                                                                                    class="circle responsive-img"
                                                                                    style="height: 100%; width:100%">
                                                                                <!-- notice the "circle" class -->
                                                                            </div>
                                                                            <div class="col s8"><span
                                                                                    style="font-size: 18px; font-weight: 300;"> {{ one.truename }} </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                        {% endfor %}
                                                        </div>
                                                        {% if course.form_method == 4 or course.form_method == 5 %}
                                                        <p class="center-align"
                                                           style="font-size: 20px; font-weight: 300;">
                                                            Average GPA: {{ item.avg_GPA }}</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>


                                <div style="margin: 20px;">
                                    {% if course.form_method == 3 and course.team_number_1 == 4 %}
                                    <a href="/course/{{ course.id }}" class="btn red waves-effect waves-light"><i class="material-icons left">fast_rewind</i>back</a>
                                    {% elif course.form_method != 2 %}
                                    <form method="post" action="/course/{{ course.id }}/forming_method">
                                        {% csrf_token %}
                                        <a href="/course/{{ course.id }}" class="btn red waves-effect waves-light"><i class="material-icons left">fast_rewind</i>back</a>
                                        <button type="submit" class="btn waves-effect waves-light" href="/course/{{ course.id }}" name="action"
                                            style="float: right;">confirm <i class="material-icons right">send</i>
                                        </button>
                                    </form>
                                    {% else %}
                                         <a href="/course/{{ course.id }}" class="btn red waves-effect waves-light"><i class="material-icons left">fast_rewind</i>back</a>

                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="section"></div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        var toast_msg = "{{ form_method_msg }}";
        if (!(toast_msg == 'no_msg')) {
            var $toastContent = $('<span>' + toast_msg + '</span>');
            Materialize.toast($toastContent, 4000);
        }
    </script>
{% endblock %}
