{% extends "base.html" %}
{% load staticfiles %}
{% block username %}{{ request.user }}{% endblock %}
{% block title %}Set group size{% endblock %}
{% block content %}

    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col l12 s12">
                    <div class="card cardpadding z-depth-1">
                        <div class="card-content">
                            <h3 class="truncate changefont">Group setting</h3>
                            <p class="truncate" style="color:grey; margin-top:-10px; font-size: 16px;"><span
                                    class="head_text"> <a href="/{{ request.user.field }}_home"
                                                          style="color: grey"> Main page </a><b>&gt;</b> <a
                                    href="/course/{{ course.id }}"
                                    style="color: grey"> {{ course.name }} </a> <b>&gt;</b> <span
                                    style="color: dodgerblue">Group setting</span> </span></p>
                            <hr>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col l2 s12"></div>
                                <div class="col l8 s12">
                                    <h5>Please input the group information:</h5>
                                    <p style="font-size: 15px;">Notice that your course now have <b
                                            style="color:darkorchid;">{{ stuNum }}</b> students.</p>
                                    <br>
                                    <br>
                                    <form role="form" method="post" action="/course/{{ course.id }}/group_size"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">

                                            <div>
                                                <div class="row">
                                                    <div class="input-field col s12"><i class="material-icons prefix">assignment_ind</i>
                                                        <input type="number" class="validate" id="group_size"
                                                               name="group_size"
                                                               required>
                                                        <label for="icon_per">Please set the group size</label>
                                                    </div>
                                                </div>

                                                <p style="margin-left: 20px; color:grey; font-size: 16px;">Please select
                                                    the
                                                    forming method:</p>
                                                <br>
                                                <div class="row">
                                                    <div class="col s1"></div>
                                                    <div class="col s11">
                                                        <div class="row notGPA" style="margin-bottom: 15px;">
                                                            <input name="form_method" type="radio" id="1" value="1"/>

                                                            <label for="1">Forming method 1: all the members are chosen
                                                                by
                                                                the
                                                                students themselves.</label>
                                                        </div>
                                                        <div class="row GPA" style="margin-bottom: 15px;">
                                                            <input name="form_method" type="radio" id="2" value="2"/>
                                                            <label for="2">Forming method 2: the members are decided by
                                                                the
                                                                system automatically.</label>
                                                        </div>
                                                        <div class="row GPA" style="margin-bottom: 15px;">
                                                            <input name="form_method" type="radio" id="3" value="3"/>
                                                            <label for="3">Forming method 3: A student can choose one
                                                                friend
                                                                and
                                                                others are given by the system randomly.
                                                                (You still need to input the useless group size for
                                                                submission)
                                                            </label>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="showGPA">
                                                    <p style="margin-left: 20px; color:grey; font-size: 16px; float:left;">
                                                        Consider
                                                        GPA?</p>
                                                    <div class="row"></div>

                                                    <div class="row">
                                                        <div class="switch" style="margin-left: 30px; ">
                                                            <label>
                                                                NO
                                                                <input type="checkbox" id="consider_GPA" value="1">
                                                                <span class="lever"></span>
                                                                YES
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="row" id="setUpperBound">
                                                        <div class="input-field col s12"><i
                                                                class="material-icons prefix">call_made</i>
                                                            <input type="number" class="validate"
                                                                   name="setUpperBound">
                                                            <label for="icon_per">Please set upper bound of the GPA in
                                                                each team.</label>
                                                        </div>
                                                    </div>

                                                    <div class="row" id="setLowerBound">
                                                        <div class="input-field col s12"><i
                                                                class="material-icons prefix">call_received</i>
                                                            <input type="number" class="validate"
                                                                   name="setLowerBound">
                                                            <label for="icon_per">Please set lower bound of the GPA in
                                                                each team.</label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <a class="btn waves-effect waves-light red darken-3" type="btn"
                                           name="action" style="float: left;" href="/course/{{ course.id }}">cancel <i
                                                class="material-icons left">close</i></a>

                                        <a id="first_confirm" class="waves-effect waves-light btn green modal-trigger"
                                           style="float: right;"
                                           href="#modal1"><i
                                                class="material-icons left">send</i>Confirm</a>


                                        <div id="modal1" class="modal">
                                            <div class="modal-content" style="padding:40px;">
                                                <h4> Suggestions for you:</h4>

                                                <div id="p_re-check"></div>
                                                </p>
                                                <hr>
                                                <br>
                                                <p style="font-weight: 500; font-size:20px;">Options:</p>
                                                <div id="re-check"></div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit"
                                                        class="waves-effect waves-light btn green modal-trigger"
                                                        style="float: right; margin-right: 40px; margin-bottom: 40px;"
                                                        href="#modal1"><i
                                                        class="material-icons left">send</i>Confirm
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="section"></div>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        $(function () {
            $(".showGPA").hide();

            $(".GPA").click(function () {
                $(".showGPA").show();
                $("#setUpperBound").hide();
                $("#setLowerBound").hide();
            });

            $("#consider_GPA").change(function() {
                if($("#consider_GPA").prop('checked')){
                    $("#setUpperBound").show();
                    $("#setLowerBound").show();
                } else {
                    $("#setUpperBound").hide();
                    $("#setLowerBound").hide();
                }
            });

            $(".notGPA").click(function () {
                $(".showGPA").hide();
            });
        });

        $(document).ready(function () {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                in_duration: 300, // Transition in duration
                out_duration: 200, // Transition out duration
                starting_top: '40%', // Starting top style attribute
                ending_top: '20%', // Ending top style attribute
            });
        });

        $("#first_confirm").click(function () {
            var total_num = {{ stuNum }};
            var group_size = parseInt($("#group_size").val());
            var forming_method_groups = document.getElementsByName("form_method");
            var form_method = 0;
            for (var i = 0; i < forming_method_groups.length; i++) {
                if (forming_method_groups[i].checked) {
                    form_method = i + 1;
                }
            }
            if (group_size <= 0) {
                alert("Please input a positive integer!");
                window.location.reload();
            }
            var text1, text2;
            if (form_method != 3) {
                if (total_num % group_size == 0) {
                    text1 = "<p style=\"font-size: 20px;\"> The total number is the multiple of the group size!";
                    text2 = "<h5>You may directly set the group right now!</h5>";
                } else {
                    var resid = total_num % group_size;
                    var num_group1 = parseInt(total_num / group_size);
                    var num_group2 = num_group1 + 1;

                    // suggestion 1.
                    var more1_num = resid % num_group1;// In more1_num groups, each group add (average_more + 1) students.
                    var normal_num = num_group1 - more1_num;// In normal, normal_num groups should add average_more students.
                    var average_more = parseInt(resid / num_group1);
                    var group1_normal = group_size + average_more;
                    var group1_abnormal = group1_normal + 1;

                    // suggestion 2.
                    var group2_abnormal = resid;

                    text1 = "<p style=\"font-size: 20px;\"> The total number is <span class=\"purple-text\">not the multiple of the group size!</span>";
                    text2 = "<div style=\"margin-left: 40px; margin-top: 30px;\">";
                    text2 = text2 + "<div class=\"row\">";
                    text2 = text2 + "<input name=\"group\" checked type=\"radio\" value=\"1\" id=\"suggestion1\"/>";
                    text2 = text2 + "<label for=\"suggestion1\">";
                    text2 = text2 + String(num_group1) + " groups, ";
                    if (more1_num != 0) {
                        text2 = text2 + String(more1_num) + " groups have(has) size " + String(group1_abnormal) + ", ";
                    }
                    if (normal_num != 0) {
                        text2 = text2 + String(normal_num) + " groups have(has) size " + String(group1_normal) + ".";
                    }
                    text2 = text2 + "</label>";
                    text2 = text2 + "</div>";
                    text2 = text2 + "<div class=\"row\">";
                    text2 = text2 + "<input name=\"group\" type=\"radio\" value=\"2\" id=\"suggestion2\"/>";
                    text2 = text2 + "<label for=\"suggestion2\">";
                    text2 = text2 + String(num_group2) + " groups, " + String(num_group1) + " groups have(has) size " + String(group_size) + ", ";
                    text2 = text2 + "1 group has size " + String(group2_abnormal) + ".";
                    text2 = text2 + "</label>";
                    text2 = text2 + "</div>";
                    text2 = text2 + "</div>";
                }
            } else {
                var group_num_2_people = 0;
                if (total_num % 2) {
                    group_num_2_people = parseInt((total_num - 1) / 2);
                    text1 = "<p style=\"font-size: 20px;\"> The total number is the an <span class=\"purple-text\">odd</span> number!";
                    text2 = "<div style=\"margin-left: 40px; margin-top: 30px;\">";
                    text2 = text2 + "<div class=\"row\">";
                    text2 = text2 + "<p style=\"font-size: 20px;\">There will be " + String(group_num_2_people) + " small group(s) with 2 people and 1 small group with 1 person.</p>"
                    text2 = text2 + "</div>";
                    text2 = text2 + "</div>";
                } else {
                    group_num_2_people = parseInt(total_num / 2);
                    text1 = "<p style=\"font-size: 20px;\"> The total number is the an <span class=\"purple-text\">even</span> number!";
                    text2 = "<div style=\"margin-left: 40px; margin-top: 30px;\">";
                    text2 = text2 + "<div class=\"row\">";
                    text2 = text2 + "<p style=\"font-size: 20px;\">There will be " + String(group_num_2_people) + " small group(s) with 2 people.</p>"
                    text2 = text2 + "</div>";
                    text2 = text2 + "</div>";
                }
            }
            document.getElementById("p_re-check").innerHTML = text1;
            document.getElementById("re-check").innerHTML = text2;
        });

    </script>

{% endblock %}