{% extends "base.html" %}
{% load staticfiles %}
{% block username %}{{ request.user }}{% endblock %}
{% block title %}Set group size{% endblock %}
{% block content %}

    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col l12 s12">
                    <div class="card cardpadding z-depth-1">
                        <div class="card-content">
                            <h3 class="truncate changefont">Group size setting</h3>
                            <p class="truncate" style="color:grey; margin-top:-10px; font-size: 16px;"><span
                                    class="head_text"> Main page <b>&gt;</b> Software Development Workshop III <b>&gt;</b> <span
                                    style="color: darkmagenta">Setting team forming</span> </span></p>
                            <hr>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col l2 s12"></div>
                                <div class="col l8 s12">
                                    <h5>Please input the group information:</h5>
                                    <p style="font-size: 15px;">Notice that your course now have <b
                                            style="color:darkorchid;">{{ stuNum }}</b> students.</p>
                                    <br>
                                    <br>
                                    <form role="form" method="post" action="/course/{{ course.id }}/group_size"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">

                                            <div>
                                                <div class="row">
                                                    <div class="input-field col s12"><i class="material-icons prefix">assignment_ind</i>
                                                        <input type="number" class="validate" name="group_size"
                                                               required>
                                                        <label for="icon_per">Please set the group size</label>
                                                    </div>
                                                </div>

                                                <p style="margin-left: 20px; color:grey; font-size: 16px;">Please select
                                                    the
                                                    forming method:</p>
                                                <br>
                                                <div class="row">
                                                    <div class="col s1"></div>
                                                    <div class="col s11">
                                                        <div class="row notGPA" style="margin-bottom: 15px;">
                                                            <input name="form_method" type="radio" id="1" value="1"/>

                                                            <label for="1">Forming method 1: all the members are chosen
                                                                by
                                                                the
                                                                students themselves.</label>
                                                        </div>
                                                        <div class="row GPA" style="margin-bottom: 15px;">
                                                            <input name="form_method" type="radio" id="2" value="2"/>
                                                            <label for="2">Forming method 2: the members are decided by
                                                                the
                                                                system automatically.</label>
                                                        </div>
                                                        <div class="row GPA" style="margin-bottom: 15px;">
                                                            <input name="form_method" type="radio" id="3" value="3"/>
                                                            <label for="3">Forming method 3: A student can choose one
                                                                friend
                                                                and
                                                                others are given by the system randomly. </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="showGPA">
                                                    <p style="margin-left: 20px; color:grey; font-size: 16px; float:left;">
                                                        Consider
                                                        GPA?</p>
                                                    <div class="row"></div>

                                                    <div class="row">
                                                        <div class="switch" style="margin-left: 30px; ">
                                                            <label>
                                                                NO
                                                                <input type="checkbox" name="consider_GPA" value="1">
                                                                <span class="lever"></span>
                                                                YES
                                                            </label>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="btn waves-effect waves-light red darken-3" type="btn"
                                           name="action" style="float: left;">cancel <i
                                                class="material-icons left">close</i></a>

                                        <a class="waves-effect waves-light btn green modal-trigger"
                                           style="float: right;"
                                           href="#modal1"><i
                                                class="material-icons left">send</i>Confirm</a>

                                        <div id="modal1" class="modal">
                                            <form method="post"
                                                  href="这个地方要写到额外的函数">
                                                <div class="modal-content" style="padding:40px;">

                                                    {% csrf_token %}
                                                    <h4> Suggestions for you:</h4>

                                                    <p style="font-size: 20px;"> The total number is <span
                                                            class="purple-text">not the multiple of the group size!</span>
                                                    </p>
                                                    <hr>
                                                    <br>
                                                    <p style="font-weight: 500; font-size:20px;">Options:</p>
                                                    <div style="margin-left: 40px; margin-top: 30px;">
                                                        <div class="row">
                                                            <input name="group" type="radio" value="1"
                                                                   id="suggestion1"/>
                                                            <label for="suggestion1">zqm hahahhahahahhahhahhahh </label>
                                                        </div>
                                                        <div class="row">
                                                            <input name="group" type="radio" value="2"
                                                                   id="suggestion2"/>
                                                            <label for="suggestion2">zqm hahahhahahahhahhahhahh </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <a class="waves-effect waves-light btn green modal-trigger"
                                                       style="float: right; margin-right: 40px; margin-bottom: 40px;"
                                                       href="#modal1"><i
                                                            class="material-icons left">send</i>Confirm</a>
                                                </div>
                                            </form>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="section"></div>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        $(function () {
            $(".showGPA").hide();
            $(".GPA").click(function () {
                $(".showGPA").show();
            });
            $(".notGPA").click(function () {
                $(".showGPA").hide();
            });
        });

        $(document).ready(function () {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                in_duration: 300, // Transition in duration
                out_duration: 200, // Transition out duration
                starting_top: '40%', // Starting top style attribute
                ending_top: '20%', // Ending top style attribute
            });
        });
    </script>

{% endblock %}