{% extends "base.html" %}
{% load staticfiles %}
{% block username %}{{ request.user }}{% endblock %}
{% block title %}Vote for leader{% endblock %}
{% block content %}

    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col l12 s12">
                    <div class="card cardpadding z-depth-1">
                        <div class="card-content">
                            <h3 class="truncate changefont">Vote for a leader for {{ team.name }}</h3>
                            <p class="truncate" style="color:grey; margin-top:-10px; font-size: 16px;"><span
                                    class="head_text"> <a href="/student_home" style="color: grey"> Main page </a><b>&gt;</b> <a
                                    href="/course/{{ course.id }}"
                                    style="color: grey"> {{ course.name }} </a> <b>&gt;</b> <span
                                    style="color: dodgerblue">Vote for a leader</span> </span></p>
                            <hr>

                            <br>
                            <div class="row">
                                <div class="col l2 s12"></div>
                                <div class="col l8 s12">
                                    <h5>Please vote for the leader:</h5>

                                    {% if messages %}
                                        {% for message in messages %}
                                            {% if message.tags == 'success' %}
                                                <div id="container-green-message">
                                                    <p>{{ message }}</p>
                                                </div>
                                            {% else %}
                                                <div id="container-red-message">
                                                    <p>{{ message }}</p>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}


                                    <form role="form" method="post" action="/course/{{ course.id }}/vote_leader"
                                          class="col s12" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% for item in members %}

                                            <div style="margin: 15px 30px; padding: 0px 30px;">
                                                <input name="group" type="radio" value="{{ item.id }}" id="{{ item.id }}"/>
                                                <label for="{{ item.id }}">{{ item.truename }}</label>
                                            </div>

                                        {% endfor %}
                                        <br>

                                        <a class="btn waves-effect waves-light red darken-3" type="btn"
                                           name="action" style="float: left;" href="/course/{{ course.id }}">cancel
                                            <i
                                                    class="material-icons left">close</i></a>
                                        <button class="btn waves-effect waves-light" type="submit" name="action"
                                                style="float: right;">submit <i
                                                class="material-icons right">send</i></button>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="section">

        </div>
    </div>
{% endblock %}