<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<title>{% block title %}{% endblock %} | Teamwork System</title>
<link href="{% static 'img/favicon.png' %}" rel="icon">
{% include "css.html" %}
{% block extra_css %}{% endblock %}
</head>
<body>
<nav class="grey darken-4 changefont" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/{{ request.user.field }}_home/" class="brand-logo">Teamwork System</a>
        <ul class="right hide-on-med-and-down">
        {% if request.user.is_authenticated %}
                <li><a href="/{{ request.user.field }}_home/">{{ request.user.truename }}</a></li>
                <li><a href="/logout/">Logout</a></li>
        {% else %}
                <li><a href="/login/">Login</a></li>
        {% endif %}
        </ul>
        <ul id="nav-mobile" class="side-nav">
            {% if request.user.is_authenticated %}
                <li><a href="/{{ request.user.field }}_home/">{{ request.user.truename }}</a></li>
                <li><a href="/logout/">Logout</a></li>
            {% else %}
                <li><a href="/login/">Login</a></li>
            {% endif %}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> </div>
</nav>
<!-- <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Starter Template</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div> -->
{% block content %}{% endblock %}

<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Teamwork System</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project. Any amount would help support and continue development on this project and is greatly appreciated.</p>
            </div>
{#            <div class="col l3 s12">#}
{#                <h5 class="white-text">Settings</h5>#}
{#                <ul>#}
{#                    <li><a class="white-text" href="#!">Link 1</a></li>#}
{#                    <li><a class="white-text" href="#!">Link 2</a></li>#}
{#                    <li><a class="white-text" href="#!">Link 3</a></li>#}
{#                    <li><a class="white-text" href="#!">Link 4</a></li>#}
{#                </ul>#}
{#            </div>#}
            <div class="col l6 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Github</a></li>
                    <li><a class="white-text" href="#!">Wechat</a></li>
                    <li><a class="white-text" href="#!">Telegram</a></li>
                    <li><a class="white-text" href="#!">QQ<a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container"> Made by <a class="orange-text text-lighten-3" href="#">Eagle</a> </div>
    </div>
</footer>

{% include "js.html" %}
{% block extra_js %}{% endblock %}
</body>
</html>
