{% extends "base.html" %}
{% load staticfiles %}
{% block username %}{{ request.user }}{% endblock %}
{% block title %}student list in {{ course.name }}{% endblock %}
{% block content %}

<div class="container">
    <div class="section"> 
        
        <!--   Icon Section   -->
        <div class="row">
            <div class="col l12 s12">
                <div class="card cardpadding z-depth-1">
                    <div class="card-content">
                       <h3 class="changefont">Students generate list</h3>
                        <p class="truncate" style="color:grey; margin-top:-10px; font-size: 16px;"><span
                                class="head_text"> <a href="/student_home"
                                                      style="color: grey"> Main page </a><b>&gt;</b> <a
                                href="/course/{{ course.id }}"
                                style="color: grey"> {{ course.name }} </a> <b>&gt;</b> <span
                                style="color: dodgerblue">Students generate</span> </span></p>

                        <hr>
                        <div class="row">
                            <div class="col l4 s12" style="padding:20px">
                                <h5>Student Information:</h5>
                                <p class="course_txt">Participants: {{ memNum }}</p>
                                <p class="course_txt">Group forming method: {{ course.form_method }}</p>
                                <p class="course_txt">Groups: 0</p>
                                <hr>
                                <br>
                                <p class="course_txt">operations:</p>
                                <br>
                                
                                <div class="row">
                                    <div class="col l12 s12"> 
                                        <a href="import_student_excel" class="waves-effect waves-light btn changefont grey darken-3 truncate" style="width:100%;"><i class="material-icons left">cloud</i>Import students by excel</a>
                                    </div>
                            	</div>
                                <div class="row">
                                    <div class="col l12 s12"> 
                                        <a href="import_student_individual" class="waves-effect waves-light btn changefont grey darken-3 truncate" style="width:100%;"><i class="material-icons left">cloud</i>Add individually</a>
                                    </div>
                                </div>
                                <hr>
                                <br>
                                <p class="course_txt">generate account:</p>
                                <form class="col s12" method="POST" action='/course/{{ course.id }}/generate_student'>
                                    {% csrf_token %}
                                    <div class="row input-field col s12"> <i class="material-icons prefix">vpn_key</i>
                                        {{ initial_pwd_form.initial_pwd }}
                                        <label for="icon_telephone">Initial password</label>
                                    </div>
                                    <div class="row">
                                        <div class="col l12 s12"> 
                                            <button class="waves-effect waves-light btn changefont teel lighten-1 truncate" type="submit" style="width:100%;"><i class="material-icons left">thumb_up</i>Generate </button> 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col l12 s12"> 
                                            <a class="waves-effect waves-light btn changefont red darken-2 truncate" style="width:100%;"><i class="material-icons left">close</i>Cancel</a> 
                                        </div>
                                    </div>
                                </form>
                            </div>
                            
                            <div class="col l8 s12" style="padding: 20px;">
                                {% if user_list %}
                                <p class="course_txt"><b>Students:</b></p>

                                <table>
                                    <tr class="home_table">
                                        <th>User Name</th>
                                        <th>Student ID</th>
                                        <th>Email</th>
                                        <th>GPA</th>
                                        <th>True Name</th>
                                    </tr>
                                    <!-- <tr class="home_table">
                                        <td>Charm</td>
                                        <td>1730026111</td>
                                        <td>1730026111@uic.edu.hk</td>
                                        <td>4.0</td>
                                    </tr> -->
                                    {% for temp_stu in user_list %}
                                    <tr class="home_table">
                                        <td>{{ temp_stu.user_name }}</td>
                                        <td>{{ temp_stu.stu_id }}</td>
                                        <td>{{ temp_stu.email }}</td>
                                        <td>{{ temp_stu.GPA }}</td>
                                        <td>{{ temp_stu.true_name }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                <div class="center-align button_font">
                                <ul class="pagination">
                                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                    <li class="active grey darken-3"><a href="#!">1</a></li>
                                    <li class="waves-effect"><a href="#!">2</a></li>
                                    <li class="waves-effect"><a href="#!">3</a></li>
                                    <li class="waves-effect"><a href="#!">4</a></li>
                                    <li class="waves-effect"><a href="#!">5</a></li>
                                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                                </ul>
                                {% else %}
                                    <br>
                                    <br>
                                    <br>
                                    <h4>Wait for importing..</h4>
                                    <h5>Please import students on the left.</h5>
                                    {% endif %}
                            </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="section"> </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    var toast_msg = "{{ msg }}";
    if(!(toast_msg == 'no_msg')){
        var $toastContent = $('<span>' + toast_msg +'</span>');
        Materialize.toast($toastContent, 4000);
    }
</script>
{% endblock %}