{% extends "base.html" %}
{% load staticfiles %}
{% block username %}{{ request.user }}{% endblock %}
{% block title %}student main page{% endblock %}
{% block content %}

<div class="container">
    <div class="section"> 
        
        <!--   Icon Section   -->
        <div class="row">
            <div class="col l12 s12">
                <div class="card cardpadding z-depth-1">
                    <div class="card-content">
                        <h3 class="truncate changefont">Individual addition</h3>
                        <p class="truncate" style="color:grey; margin-top:-10px; font-size: 16px;"> <span class="head_text"> Main page <b>&gt;</b> Software Development Workshop III <b>&gt;</b> students generate <b>&gt;</b> <span style="color: darkmagenta">individual addition</span> </span> </p>
                        <hr>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col l2 s12"> </div>
                            <div class="col l8 s12">
                                <h5>Please input the student information:</h5>
                                <div class="row">
                                    <form class="col s12">
                                        <div class="row">
                                            <div class="input-field col s12"> <i class="material-icons prefix">account_circle</i>
                                                <input id="icon_prefix" type="text" class="validate">
                                                <label for="icon_prefix">User name</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12"> <i class="material-icons prefix">contacts</i>
                                                <input id="icon_prefix" type="text" class="validate">
                                                <label for="icon_prefix">Student ID</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12"> <i class="material-icons prefix">email</i>
                                                <input id="icon_prefix" type="text" class="validate">
                                                <label for="icon_prefix">Email</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12"> <i class="material-icons prefix">star</i>
                                                <input id="icon_telephone" type="tel" class="validate">
                                                <label for="icon_telephone">GPA (Optional)</label>
                                            </div>
                                        </div>
                                        	<button class="btn waves-effect waves-light red darken-3" type="btn" name="action" style="float: left;">cancel <i class="material-icons left">close</i> </button>
                                        <button class="btn waves-effect waves-light" type="submit" name="action" style="float: right;">submit <i class="material-icons right">send</i> </button>
                       
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="section"> </div>
</div>
{% endblock %}